.RightMenu {
    width: 280px;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px 15px;
    position: absolute;
    right: 0;
}